name: build

# Should look for some tools here
# https://github.com/fkirc/skip-duplicate-actions
# Might be useful to skip previous commit actions
# Might be useful to skip actions for specific files (.md)
# paths-ignore isn't good enough to compare commits

on:
  push:
    branches:
      - master
    #paths-ignore:
    #  - '**/*.md'
  pull_request:
    #paths-ignore:
    #  - '**/*.md'

jobs:
  build:
    name: Build
    strategy:
      matrix:
        runs-on: [ubuntu-latest, macos-latest, windows-latest]
      fail-fast: false
    runs-on: ${{ matrix.runs-on }}
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup NodeJS
        uses: actions/setup-node@v2

      - name: Install
        run: npm ci

      - name: Lint
        run: npm run lint

      - name: Compile
        run: npm run build

      - name: Test
        run: npm run coverage

      - name: Coveralls
        uses: coverallsapp/github-action@master
        with:
          github-token: ${{ github.token }}